<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.slider.css">
    <link rel="stylesheet" type="text/css" href="../css/volume.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/form_consult.css">
    <link rel="stylesheet" type="text/css" href="../css/form_sublist.css">
    <link rel="stylesheet" type="text/css" href="../css/button.css">
    <link rel="stylesheet" type="text/css" href="../css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="../css/typography.css">
    <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script> -->
    <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="sub_list_temp">
        <div id="sub_" class="sub_box">
            <a href="subject_view.html" class="elem_linkage"><div class="part general">
                    <div class="elem subname">Name</div>
                    <div class="elem gender">男</div>
                    <div class="elem age">50岁</div>
                    <div class="elem attitude">积极</div>
                    <div class="elem location">上海 附近</div>
                    <div class="elem time">周末</div>
                    <div class="elem phone">15063749878</div>
                </div><a>
                <div class="part hint hearing">
                    <div class="entry">听损：</div>
                    <div class="group left">
                        <div class="elem side">左耳</div>
                        <div class="elem degree">中重度</div>
                        <div class="elem cause">感音神经性</div>
                        <div class="elem shape">下降型</div>
                        <div class="elem pta">60dB</div>
                    </div>
                    <div class="group right">
                        <div class="elem side">右耳</div>
                        <div class="elem degree">重度</div>
                        <div class="elem cause">传导性</div>
                        <div class="elem shape">平坦型</div>
                        <div class="elem pta">90dB</div>
                    </div>
                </div>
                <div class="part hint projects">
                    <div class="entry">项目：</div>
                    <div class="group proj">
                        <a class="elem" href="projects_view.html" target="_blank">Sonova projdect XXX</a>
            <a class="elem" href="projects_view.html" target="_blank">Sonova projdect DD</a>
            <a class="elem" href="projects_view.html" target="_blank">Sonova project LLA</a>
            <a class="elem" href="projects_view.html" target="_blank">Sonova project LFD</a>
        </div>
    </div>
    <div class="part hint notes">
        <div class="entry">备注：</div>
        <div class="elem comments">LKSJ LKLKJFLEKFMLKJL OIQM>B OQMBVKFSDFWQE</div>
    </div>
    <div class="widget hint record_date">
        <select name="record_date_w" class="widget slidedown select_list">
            <option value="proj1">2018-09-23</option>
            <option value="proj2">2018-03-08</option>
            <option value="proj3">2017-11-13</option>
        </select></div>
    <div class="widget icon">
        <div class="add_proj_w" title="add new project"></div>
        <div class="dismiss_proj_w" title="remove project from the subject"></div>
        <a class="update_sub_w" title="update the record" href="subject_update.html"></a>
        <div class="collect_sub_w" title="add this subject to collections"></div>
    </div>
    <select name="addproj_w" class="widget slidedown select_list" size="5">
        <option value="proj1">proj1_titlexxx</option>
        <option value="proj2">proj2_titlexxx</option>
        <option value="proj3">proj3_titlexxx</option>
        <option value="proj4">proj4_titlexxx</option>
        <option value="proj5">proj5_titlexxx</option>
        <option value="proj6">proj6_titlexxx</option>
        <option value="proj7">proj7_titlexxx</option>
    </select>
    <select name="dismissproj_w" class="widget slidedown select_list" size="5">
        <option value="proj6">collection folder1</option>
        <option value="proj7">collection folder2</option>
    </select>
    </div>
    </div>
    <script src="../js/effect.js" type="text/javascript"></script>
</body>

</html>