<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>login SSDB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/typography.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header_footer.css') }}">
</head>

<body>
{% include 'status_bar.html' %}
<div class="panel">
    <div class="information">
        <div class="welcome">Sonova China R&D Database</div>
    </div>
    <div class="information infop">
        <form action="{{ url_for('auth.login') }}" method="post" name="login">
            <h4 class="username_label"> User ID </h4>
            <input class="username" type="text" name="username" maxlength="25" required>
            <h4 class="password_label">Password</h4>
            <input class="password" type="password" name="password" maxlength="25" required><br>
            <div class="button_login">
                <input class="submit" type="submit" name="login_submit" value="Log in">
            </div>
            <p class="flash">
                {% with messages=get_flashed_messages() -%}{% if messages -%}{% for message in messages -%}{{ message }}
                {%- endfor %}
                {% endif -%}{% endwith -%}</p>
        </form>
    </div>
</div>
</body>

</html>
<!-- 
 href="html/consult_1.html"
  href="html/subject_new.html"
   href="html/projects_overview.html" -->