<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>update subject SSDB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/form_subject.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slide_bar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header_footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/typography.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='figures/logo.png') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
</head>

<body>
{% include 'status_bar.html' %}
<header class="navigation">
    <nav class="main_menu">
        <a href="{{ url_for('consult.ready') }}" class="toConsult navhead">Consult</a>
        <a href="#" class="toCollection navhead">Collection</a>
        <a href="{{ url_for('subject.new') }}" class="toSubject curModule navhead">Subject</a>
        <a href="{{ url_for('projects.overview') }}" class="toProject navhead">Projects</a>
    </nav>
    <nav class="dir_path">
        <a class="navpath">Subject</a>
        <span>/</span>
        <a href="{{ url_for('subject.view_single',idr=params['idr']) }}" class="navpath">{{ params['subname'] }}</a>
        <span>/</span>
        <a class="curPath navpath">Update</a>
    </nav>
</header>
<section class="conditions">
    <div id="record_date">record date:
        <select name="record_date" class="select_list">
            {% for record in records %}
                <option value="{{ record['idr'] }}" data-date="{{ record['rdate'] }}"
                        data-latest="{% if loop.first %}yes{% else %}no{% endif %}"
                        {% if record['idr'] == params['idr'] %} selected {% endif %}>
                    &nbsp;&nbsp;{{ record['rdate'] }}&nbsp;&nbsp;
                </option>
            {% endfor %}
        </select>
    </div>
    <div name="personalForm" class="unfold line">
        <div>Personal Information</div>
        <hr>
        <div class="arrow-down"></div>
    </div>
    <form id="personalForm" class="field tosubmit unfolded">
        <div class="cond">
            <div class="part subname">
                <div class="tag">Name</div>
                <div class="content">
                    <input type="text" class="type_in" name="subname" required value="{{ params['subname'] }}">
                </div>
            </div>
            <div class="part phone">
                <div class="tag">Phone</div>
                <div class="content">
                    <input type="text" name="phone" class="type_in" value="{{ params['phone'] }}" maxlength="60">
                </div>
            </div>
            <div class="part gender">
                <div class="tag">Gender</div>
                <div class="content">
                    {% for ops in [['male','M'],['female','F']] %}
                        <input type="checkbox" class="single color_option" name="gender" value="{{ ops[1] }}"
                               id="{{ 'gender_' + ops[0] }}" {% if ops[1] == params['gender'] %}checked{% endif %}>
                        <label for="{{ 'gender_' + ops[0] }}">{{ ops[0] }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="part age">
                <div class="tag">Age</div>
                <div class="content">
                    <div class="range oneh horizontal">
                        <input name="age" type="range" min="0" max="100" step="1" value="{{ params['age'] }}">
                        <div class="slide_prog"></div>
                        <div class="slide_handle"></div>
                    </div>
                </div>
            </div>
            <div class="part attitude">
                <div class="tag">Attitude</div>
                <div class="content">
                    {% for ops in [['atti-active','active'],['atti-med','medium'],['atti-neg','negative']] %}
                        <input type="checkbox" class="single color_option" name="attitude" value="{{ ops[1] }}"
                               id="{{ ops[0] }}" {% if ops[1] == params['attitude'] %}checked{% endif %}>
                        <label for="{{ ops[0] }}">{{ ops[1] }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="part location">
                <div class="tag">Residence</div>
                <div class="content">
                    {% for ops in [['shanghai_nearby','shanghai nearby'],['shanghai_far','shanghai far'],['not_shanghai','not in shanghai']] %}
                        <input type="checkbox" class="single color_option" name="location" value="{{ ops[1] }}"
                               id="{{ ops[0] }}" {% if ops[1] == params['location'] %}checked{% endif %}>
                        <label for="{{ ops[0] }}">{{ ops[1] }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="part time">
                <div class="tag">Available time</div>
                <div class="content">
                    {% for ops in ['workdays','weekends','anytime'] %}
                        <input type="checkbox" class="single color_option" name="spare" value="{{ ops }}"
                               id="spa_{{ ops }}" {% if ops == params['spare'] %}checked{% endif %}>
                        <label for="spa_{{ ops }}">{{ ops }}</label>
                    {% endfor %}
                    <span>&nbsp;&nbsp;</span>
                    <input type="text" class="type_in" name="sparenote" maxlength="60"
                           placeholder="--add notes about time--" value="{{ params['sparenote'] }}">
                </div>
            </div>
            <div class="part aidwearing">
                <div class="tag">Hearing aid wearing</div>
                <div class="content">
                    {% for ops in [['neither','neither'],['eithor','eithor'],['unilateral','unilateral'],['bilateral','bilateral']] %}
                        <input type="checkbox" class="single color_option" name="aidwearing" value="{{ ops[1] }}"
                               id="{{ ops[0] }}" {% if ops[1] == params['aidwearing'] %}checked{% endif %}>
                        <label for="{{ ops[0] }}">{{ ops[1] }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="part diseases">
                <div class="tag">Hearing related diseases</div>
                <div class="content">
                    <textarea name="diseases" class="type_in" placeholder="--describe disease history--"
                              maxlength="120">{{ params['diseases'] }}</textarea>
                </div>
            </div>
        </div>
        <input type="reset" name="personalReset" value="reset" form="personalForm">
    </form>
    <div name="experimentForm" class="unfold line">
        <div>Experimental information</div>
        <hr>
        <div class="arrow-down"></div>
    </div>
    <div id="experimentForm" class="field tosubmit unfolded">
        <div class="cond">
            <form id="testsForm">
                <div class="part tests">
                    <div class="tag">Tests done</div>
                    <div class="content">
                        {#                        {% for test in ['MHINT-24' ,'MHINT-12','CNSM','MSTM','PPT','others'] %}#}
                        {#                            <input type="checkbox" class="multiple color_option" name="tests" value="{{ test | lower }}"#}
                        {#                                   id="{{ test | lower }}" {% if test | lower in testlist %}checked{% endif %}>#}
                        {#                            <label for="{{ test | lower }}" title="{{ test['description'] }}">{{ test }}</label>#}
                        {#                        {% endfor %}#}
                        {% for test in tests %}
                            <input type="checkbox" class="multiple color_option" name="tests" value="{{ test['idt'] }}"
                                   id="{{ test['idt'] }}" {% if test['ischeck'] %}checked{% endif %}>
                            <label for="{{ test['idt'] }}"
                                   title="{{ test['description'] }}">{{ test['name'] | upper }}</label>
                        {% endfor %}
                    </div>
                </div>
            </form>
            <form id="projectsForm">
                {% for proj in projs %}
                    {% set projid=proj['idp'] %}
                    <div class="part proj" id="{{ projid }}">
                        <div class="tag" title="{{ proj['title'] }}">{{ proj['abbr'] | capitalize }}</div>
                        <div class="content">
                            <div class="state">
                                <input type="radio" class="single color_option" name="{{ 'finp' +projid }}" value="no"
                                       id="{{ projid+'f1' }}" {% if proj['isfinish'] == 'no' %}checked{% endif %}>
                                <label for="{{ projid+'f1' }}">unfinished</label>
                                <input type="radio" class="single color_option" name="{{ 'finp' +projid }}" value="yes"
                                       id="{{ projid+'f2' }}"
                                       {% if proj['isfinish'] == 'yes' %}checked{% endif %}>
                                <label for="{{ projid+'f2' }}">finished</label>
                            </div>
                            <div class="pay">
                                <label for="{{ projid +'p' }}">pay</label>
                                <input class="pay" type="number" class="type_in" name="{{ 'payp'+projid }}"
                                       value="{{ proj['pay'] }}" min="0" id="{{ projid +'p' }}">
                            </div>
                            <div class="dismiss_proj" title="delete the project"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="part addproj">
                    <div class="tag add_proj" title="add new project"></div>
                    <div class="content">
                        <select name="addproj" class="select_list" size="5">
                            {% for proja in projs_all %}
                                <option value="{{ proja['idp'] }}"
                                        title="{{ proja['title'] }}">{{ proja['abbr'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div id="add_proj_templet">
                <div class="part proj">
                    <div class="tag">projname</div>
                    <div class="content">
                        <div class="state">
                            <input type="radio" class="single color_option" name="finpprojxxx" value="unfinished"
                                   id="projxxxf1" checked>
                            <label for="projxxxf1">unfinished</label>
                            <input type="radio" class="single color_option" name="finpprojxxx" value="finished"
                                   id="projxxxf2">
                            <label for="projxxxf2">finished</label>
                        </div>
                        <div class="pay">
                            <label for="projxxxp">pay</label>
                            <input class="pay" type="number" class="type_in" name="paypprojxxx" value="0" min="0"
                                   id="projxxxp">
                        </div>
                        <div class="dismiss_proj" title="delete the project"></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="reset" name="testsFormReset" value="reset" form="testsForm">
    </div>
    <div name="hearingForm" class="unfold line">
        <div>Hearing condition</div>
        <hr>
        <div class="arrow-down"></div>
    </div>
    <form id="hearingForm" class="field tosubmit unfolded">
        <div class="cond">
            <div class="part thresholds">
                <div class="tag">Pure tone thresholds</div>
                <div class="content">
                    {% set freqs = namespace(f1=['125','250','500','750','1000','1500','2000','3000','4000','6000','8000'],f2=['.125','.25','.5','.75','1k','1.5k','2k','3k','4k','6k','8k']) %}
                    <div class="pta_simple_ver">
                        <div class="canvas conduction">
                            <div class="air panel thresh">
                                <div class="group right"><span class="hint">right</span>
                                    <div class="slides">
                                        {% for freq in freqs.f1 %}
                                            {% set field = 'air_'~freq~'r'  %}
                                            <div class="range oneh vertical">
                                                <input name="{{ field }}" type="range" min="-20" max="120"
                                                       step="1" value="
                                                        {%- if params[field] is not none -%}{{ params[field] }}{%- else -%}-20{%- endif -%}">
                                                <div class="slide_prog"></div>
                                                <div class="slide_handle"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="hint">
                                        {%- for freq in freqs.f2 -%}
                                            <div>{{ freq }}</div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="group left"><span class="hint">left</span>
                                    <div class="slides">
                                        {% for freq in freqs.f1 %}
                                            {% set field = 'air_'~freq~'l'  %}
                                            <div class="range oneh vertical">
                                                <input name="{{ field }}" type="range" min="-20" max="120"
                                                       step="1" value="
                                                        {%- if params[field] is not none -%}{{ params[field] }}{%- else -%}-20{%- endif -%}">
                                                <div class="slide_prog"></div>
                                                <div class="slide_handle"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="hint">
                                        {%- for freq in freqs.f2 -%}
                                            <div>{{ freq }}</div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                            </div>
                            <div class="bone panel thresh">
                                <div class="group right"><span class="hint">right</span>
                                    <div class="slides">
                                        {% for freq in freqs.f1 %}
                                            {% set field = 'bone_'~freq~'r'  %}
                                            <div class="range oneh vertical">
                                                <input name="{{ field }}" type="range" min="-20" max="120"
                                                       step="1" value="
                                                        {%- if params[field] is not none -%}{{ params[field] }}{%- else -%}-20{%- endif -%}">
                                                <div class="slide_prog"></div>
                                                <div class="slide_handle"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="hint">
                                        {%- for freq in freqs.f2 -%}
                                            <div>{{ freq }}</div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="group left"><span class="hint">left</span>
                                    <div class="slides">
                                        {% for freq in freqs.f1 %}
                                            {% set field = 'bone_'~freq~'l'  %}
                                            <div class="range oneh vertical">
                                                <input name="{{ field }}" type="range" min="-20" max="120"
                                                       step="1" value="
                                                        {%- if params[field] is not none -%}{{ params[field] }}{%- else -%}-20{%- endif -%}">
                                                <div class="slide_prog"></div>
                                                <div class="slide_handle"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="hint">
                                        {%- for freq in freqs.f2 -%}
                                            <div>{{ freq }}</div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="switch_group">
                            <input class="switch" type="radio" value='air' name="conduction" id="air" checked>
                            <label class="switch" for="air">air conduction</label>
                            <input class="switch" type="radio" value='bone' name="conduction" id="bone">
                            <label class="switch" for="bone">bone conduction</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part category">
                <div class="tag">Hearing loss category</div>
                <div class="content">
                    <table border="0">
                        <tr>
                            <td></td>
                            <td class="hint">Right</td>
                            <td class="hint">Left</td>
                        </tr>
                        <tr>
                            <td class="hint">Cause</td>
                            <td>
                                <div>
                                    <input type="checkbox" class="single color_option" name="cause_right"
                                           value="sensorineural" id="sensorineural_right"
                                           {% if params['cause_right'] == 'sensorineural' %}checked{% endif %}>
                                    <label for="sensorineural_right">sensorineural</label>
                                    <input type="checkbox" class="single color_option" name="cause_right"
                                           value="conductive" id="conductive_right"
                                           {% if params['cause_right'] == 'conductive' %}checked{% endif %}>
                                    <label for="conductive_right">conductive</label>
                                    <input type="checkbox" class="single color_option" name="cause_right"
                                           value="mixed" id="mixed_right"
                                           {% if params['cause_right'] == 'mixed' %}checked{% endif %}>
                                    <label for="mixed_right">mixed</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" class="single color_option" name="cause_left"
                                           value="sensorineural" id="sensorineural_left"
                                           {% if params['cause_left'] == 'sensorineural' %}checked{% endif %}>
                                    <label for="sensorineural_left">sensorineural</label>
                                    <input type="checkbox" class="single color_option" name="cause_left"
                                           value="conductive" id="conductive_left"
                                           {% if params['cause_left'] == 'conductive' %}checked{% endif %}>
                                    <label for="conductive_left">conductive</label>
                                    <input type="checkbox" class="single color_option" name="cause_left"
                                           value="mixed" id="mixed_left"
                                           {% if params['cause_left'] == 'mixed' %}checked{% endif %}>
                                    <label for="mixed_left">mixed</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hint">Shape</td>
                            <td>
                                <div>
                                    <input type="checkbox" class="single color_option" name="shape_right"
                                           value="flat"
                                           id="flat_right"
                                           {% if params['shape_right'] == 'flat' %}checked{% endif %}>
                                    <label for="flat_right">flat</label>

                                    <input type="checkbox" class="single color_option" name="shape_right"
                                           value="sloping" id="sloping_right"
                                           {% if params['shape_right'] == 'sloping' %}checked{% endif %}>
                                    <label for="sloping_right">sloping</label>

                                    <input type="checkbox" class="single color_option" name="shape_right"
                                           value="others"
                                           id="other_shape_right"
                                           {% if params['shape_right'] == 'others' %}checked{% endif %}>
                                    <label for="other_shape_right">others</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" class="single color_option" name="shape_left"
                                           value="flat"
                                           id="flat_left" {% if params['shape_left'] == 'flat' %}checked{% endif %}>
                                    <label for="flat_left">flat</label>
                                    <input type="checkbox" class="single color_option" name="shape_left"
                                           value="sloping"
                                           id="sloping_left"
                                           {% if params['shape_left'] == 'sloping' %}checked{% endif %}>
                                    <label for="sloping_left">sloping</label>
                                    <input type="checkbox" class="single color_option" name="shape_left"
                                           value="others"
                                           id="other_shape_left"
                                           {% if params['shape_left'] == 'others' %}checked{% endif %}>
                                    <label for="other_shape_left">others</label></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="part immitance">
                <div class="tag">Acoustic immitance type</div>
                <div class="content">
                    <table border="0">
                        <tr>
                            <td></td>
                            <td class="hint">Right</td>
                            <td class="hint">Left</td>
                        </tr>
                        <tr>
                            <td class="hint">Types</td>
                            <td>
                                <div>
                                    {% for ops in [['A_right','A'],['As_right','As'],['Ad_right','Ad'],['B_right','B'],['C_right','C']] %}
                                        <input type="checkbox" class="single color_option" name="immittance_right"
                                               value="{{ ops[1] }}" id="{{ ops[0] }}"
                                               {% if ops[1] == params['immittance_right'] %}checked{% endif %}>
                                        <label for="{{ ops[0] }}">{{ ops[1] }}</label>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <div>

                                    {% for ops in [['A_left','A'],['As_left','As'],['Ad_left','Ad'],['B_left','B'],['C_left','C']] %}
                                        <input type="checkbox" class="single color_option" name="immittance_left"
                                               value="{{ ops[1] }}" id="{{ ops[0] }}"
                                               {% if ops[1] == params['immittance_left'] %}checked{% endif %}>
                                        <label for="{{ ops[0] }}">{{ ops[1] }}</label>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="part speech">
                <div class="tag">Speech recognition</div>
                <div class="content">
                    {% for ops in ['superior','average','inferior'] %}
                        <input type="checkbox" class="single color_option" name="speech" value="{{ ops }}"
                               id="{{ ops }}" {% if ops == params['speech'] %}checked{% endif %}>
                        <label for="{{ ops }}">{{ ops }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="reset" name="hearingReset" value="reset" form="hearingForm">
    </form>
    <div name="commentsForm" class="unfold line">
        <div>Adding comments</div>
        <hr>
        <div class="arrow-down"></div>
    </div>
    <form id="commentsForm" class="field tosubmit unfolded">
        <div class="cond">
            <div class="part comments">
                <div class="content">
                    <textarea name="comments" class="type_in" maxlength="1000"
                              placeholder="--Note down any other information you think important in here--">{{ params['comments'] }}</textarea>
                </div>
            </div>
        </div>
    </form>
    <!--  <form id="updateForm" class="field tosubmit unfolded">
         <div class="cond">
             <div class="part update_choice">
                 <div class="content">
                         Do you want to update this record by
                         <input type="radio" class="color_option" name="update_choice" value="new"
                                id="update_choice_new" checked >
                         <label for="update_choice_new">creating a new one</label> or
                         <input type="radio" class="color_option" name="update_choice" value="overwrite"
                                id="update_choice_overwrite">
                         <label for="update_choice_overwrite">overwriting it</label> ?
                 </div>
             </div>
         </div>
     </form> -->
    <div class="go line">
        <hr>
        <input class="go" name="update_subject" type="button" value="Update">
        <hr>
    </div>
</section>
<footer>----------footer-----------</footer>
<script src="{{ url_for('static',filename='js/slide_bar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/effect.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/effect-canvas.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/effect-subject.js') }}" type="text/javascript"></script>
</body>

</html>