<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>js+css3+HTML5拖动滑块改变值</title>
    <link rel="stylesheet" type="text/css" href="../css/slide_bar.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- <style src="range_bar.css"></style> -->
</head>

<body>
    <div class="panel thresh">
        <div class="group right"><span class="hint">right</span>
            <div class="slides">
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
            </div>
            <div class="hint">
                <div>250</div>
                <div>500</div>
                <div>1000</div>
                <div>2000</div>
                <div>4000</div>
                <div>8000</div>
            </div>
        </div>
        <div class="group left"><span class="hint">left</span>
            <div class="slides">
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
                <div class="range_single">
                    <input type="range" min="-25" max="135" step="5" value="-25">
                    <div class="slide_prog"></div>
                    <div class="slide_handle"></div>
                </div>
            </div>
            <div class="hint">
                <div>250</div>
                <div>500</div>
                <div>1000</div>
                <div>2000</div>
                <div>4000</div>
                <div>8000</div>
            </div>
        </div>
    </div>
    <script src="../js/slide_bar.js">
    </script>
</body>

</html>