header {
    height: 100px;
    margin: 10px auto 40px auto;
    width: 1000px;
}

footer {
    margin: 200px 500px;
        width: 1000px;
}
section {
    margin: 15px auto 30px auto;
        width: 1000px;
}
section.statusbar {
    margin-bottom: 10px;
}
form.field,
form.one_whole {
    margin: 0px auto 30px auto;
}

div.line {
    margin-bottom: 10px;
}

div.go {
    margin-top: 40px;
}

form.sort {
    margin-bottom: 20px;
}
